rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users: hanya bisa baca/edit milik sendiri
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
    
    // Messages: hanya user login yang bisa baca/tulis
    match /messages/{msgId} {
      allow read, write: if request.auth != null;
    }
  }
}
